@model Firma.Data.Data.CMS.DodatkoweInformacje
@{
    ViewData["Title"] = Model.Tytul;//z bazy danych pobierz link tutyl
}
<h1 class="header center orange-text">Dodatkowe Informacje: @Model.Tytul </h1>
<div class="row center">
    <h5 class="header col s12 light">@Model.Tresc</h5>
</div>
