@model IEnumerable<Firma.Data.Data.CMS.Aktualnosc>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                <h5 class="center"> 
                    @*o firmie*@
                   @* @item.Tytul*@
                   @*tu prowadzi do katalogu aktualnosci i pliki Index.cshtml utworz ten widok PPM na kontrollers i add kontroler empty o nazwie AktualnoscController *@
                    @Html.ActionLink(item.Tytul, "Index", "Aktualnosc", new  { id = item.IdAktualnosci },null)
                    </h5>

                <p class="light">@item.Tresc</p>
            </div>
        </div>
    }


  
</div>