@{
    ViewData["Title"] = "Home Page";
}

<h1 class="header center orange-text">Sklep firmy </h1>
<div class="row center">
    <h5 class="header col s12 light">Witamy w sklepie</h5>
</div>
<div class="row center">
    <a href="http://onet.pl" id="download-button" class="btn-large waves-effect waves-light orange">Rozpocznij</a>
</div>