@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1 class="header center orange-text">Polityka prywatnosci</h1>
<div class="row center">
    <h5 class="header col s12 light">Tu bedzie polityka prywatonosci</h5>
</div>
